.header-container {
  display: flex;
  justify-content: center;
  width: 100%;

  form {
    height: 5rem;
    display: flex;
    gap: 1.2rem;
    width: 100%;

    input {
      padding: 0 1.6rem;
      height: 100%;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 700;
    }

    button {
      background: none;
      background: #000;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 700;
      width: 12.5rem;
    }
  }
  
}